/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
NAVBAR
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 15px 0;
}

.navbar-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 !important;
}

h1 .navbar-brand {
  display: flex;
  align-items: center;
  margin: 0 !important;
  font-size: 34px;
}

.navbar__logo {
  margin: 10px 0 0 0;
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
}

.navbar-toggle {
  order: 2;
  margin-left: auto;
}

ul .dropdown-menu {
  min-width: 210px;
}

@media (min-width: 768px) {
  .navbar .container {
    width: 100%;
    padding: 8px 15px;
  }

  .navbar__logo {
    margin-top: 0;
  }

  ul.nav {
    margin-top: 0;
  }

  .nav li {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  h1.navbar__logo {
    font-size: 36px;
  }

  .nav li {
    font-size: 16px;
  }
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
FEATURES SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.features {
  background-color: #fafafa !important;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
TECHNOLOGIES SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.technologies {
  background-color: #fff !important;
}

.technologies .nav-stacked .active {
  background: #ec5538;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
FOOTER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bottom__logo {
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
FOOTER
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.midnight-blue {
  text-align: center;
}